{% extends "layout.html" %}
{% block body %}
{% if session.logged_in=='admin' %}
<form method=POST action="{{ url_for('show_merchandise') }}">
     <table border="1" id="table">
     <tr>
        	<th>No</th>
			<th>Item name</th>
			<th>Unit price (S$)</th>
			<th>Delete?</th>
			</tr>
     {% for item in merchandise %}
        <tr>
            <td>{{item.pid}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><input type="radio" name='delete' value={{ item.pid }}></td>
        </tr>
    {% endfor %}

    </table>
    <input type="submit" value="Delete">

    </form>
  {% endif %}
{% endblock %}